// bootstrap variables and custom overrides (so they can be accessed in each component)

// $background: #95D8F4;
$primary : #337D88; 
$secondary :#B65F41;
$info: #cccaca;
$warning: #F7F7F7;
$basetext: #404040;

$enable-gradients: true;
// $disabledcolor: #ee4035;
// $pencilcolor:#21abcd;
// $letterlistcolor: #336699;
// $success: #449933;
// $config: #636363;


// @import url('https://fonts.googleapis.com/css?family=Raleway+Dots&display=swap');
// $tracefont: 'Raleway Dots', cursive;