

// Your variable overrides
@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Coming+Soon&display=swap');

// $theme-colors: (
//     "primary": $primary,
//     "secondary": $secondary
// );

$font-size-base: 1rem;
$h1-font-size: 1rem;
$h2-font-size: 2rem;
$h3-font-size: 3rem;
$h4-font-size: 4rem;
$h5-font-size: 1.1rem; //card header text size
$h6-font-size: 6rem;
// $font-family-sans-serif: 'Coming Soon', cursive;
// $overflows: auto;
// $body-bg: $background;

//  $body-color: black;

// custom.scss
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';